<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="UTF-8">
	<title>Seoul Tech RC</title>
	
	<!-- CSS -->
	<link th:href="@{/styles/main.css}" rel="stylesheet" />
	<link th:href="@{/styles/index.css}" rel="stylesheet" />
	
	<!-- Script -->
	<script type="text/javascript" th:src="@{/js/index.js}"></script>

</head> 

<body class="bg-1">

<div class="flex-box">
	<div class="rec-area">
	<div class="ra-bg"></div>
	
	<div class="pic-flex-area">
		<img th:src="@{/images/dog-c1.png}" class="profile-pic">
	</div>
	

		<div class="form-area">
		<input class="input-area" />
		<input class="input-area" />
		</div>
		<div class="btn-area">
		<div class="btn" id="" onclick="nextPage()">로그인</div>
		<div class="btn">회원가입</div>
		</div>
		
	</div>
</div>


<!--  
<h1>Hello</h1>
<a th:href="@{/n2021/learn/canvas1}"> 캔버스 배우기1 </a><br />
<a th:href="@{/n2021/learn/canvas2}"> 캔버스 배우기2 </a><br />
<a th:href="@{/n2021/learn/module}"> 모듈 공부 </a><br />
<a th:href="@{/n2021/minigame/car-racer}"> 미니게임 / 자동차 경주 </a><br />
-->



</body> 

</html>